*.strategy
*.strat
*.test
*.swp
*.o
*.card_abs
*.center
*.dat
*.d
*.log
*.plot
test.abs
*.card_abs*
*.strategy.*
strategies/*
abstractions/*
.vscode

cfrm
cluster-abs
potential-abs
player
gen_eval_table
lib/libpoker/lib/*
lib/libpoker/obj/*
lib/libecalc/lib/*
lib/libecalc/obj/*
/lib/abseil-cpp
/lib/absl
/images
/result
/results
/*.txt
