*.strategy
*.strat
*.test
*.swp
*.o
*.card_abs
*.center
*.txt
*.dat
*.d
*.log
*.plot
test.abs
*.strategy.*
strategies/*
abstractions/*
.vscode

cfrm
cluster-abs
potential-abs
player
gen_eval_table
lib/libpoker/lib/*
lib/libpoker/obj/*
lib/libecalc/lib/*
lib/libecalc/obj/*
